<div *ngIf="field.inputType == 'text'" class="form-group">
  <label [for]="field.name">{{ field.label }}:</label>
  <input
    type="text"
    pInputText
    [id]="field.name"
    class="form-control"
    [formControl]="formGroup.get(field.name)"
    [placeholder]="field.placeHolder ? field.placeHolder : ''"
  />
</div>

<div *ngIf="field.inputType == 'number'" class="form-group">
  <label [for]="field.name">{{ field.label }}:</label>
  <input
    type="number"
    pInputText
    [id]="field.name"
    class="form-control"
    [formControl]="formGroup.get(field.name)"
    [placeholder]="field.placeHolder ? field.placeHolder : ''"
  />
</div>

<div *ngIf="field.inputType == 'date'" class="form-group">
  <label [for]="field.name">{{ field.label }}:</label>
  <input
    type="date"
    [id]="field.name"
    class="form-control"
    [formControl]="formGroup.get(field.name)"
    [placeholder]="field.placeHolder ? field.placeHolder : ''"
  />
</div>

<div *ngIf="field.inputType == 'dropdown'" class="form-group">
  <label [for]="field.name">{{ field.label }}:</label>
  <mat-form-field class="form-dropdown">
    <mat-select  [formControl]="formGroup.get(field.name)">
      <ng-template ngFor let-data [ngForOf]="drpData">
        <mat-option [value]="data?.value">{{data?.name}}</mat-option>
      </ng-template>
    </mat-select>
  </mat-form-field>
</div>
