.form-group {
    display: flex;
    width: 186px;
    flex-direction: column;
    label {
        letter-spacing: 0px;
        color: #15133c;
        opacity: 1;
        font-size: 14px;
        font-weight: bold;
    }
    input {
        border: 1px solid #bbbbbb;
        border-radius: 1px;
        height: 30px;
    }
    .form-dropdown {
        width: 186px;
        border: 1px solid #bbbbbb;
        border-radius: 1px;
        height: 30px;
        display: flex;
        align-items: center;
    }
}
::ng-deep .form-group {
    .mat-select-value-text {
        color: black;
        padding: 5px;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        visibility: collapse;
    }
}
