.custom_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 16px;
    .inputs {
        height: 50px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .group-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        .group {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
    }
    .footer{
        width: 100%;
        margin-top: 20px;
    }

    .group-title{
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
