.custom_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .inputs {
        height: 50px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .group-container {
        display: flex;
        width: 100%;
        flex-direction: column;
        .group {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
        }
    }
}
